[submodule "lib/atsam-component-drivers"]
	path = lib/atsam-component-drivers
	url = https://gitlab.com/acubesat/obc/atsam-component-drivers.git
[submodule "lib/cross-platform-software"]
	path = lib/cross-platform-software
	url = https://gitlab.com/acubesat/obc/cross-platform-software
[submodule "lib/cobs-c"]
    path = lib/cobs-c
    url = git@github.com:cmcqueen/cobs-c.git

